<script setup lang="ts">
import { ref } from 'vue'

import { type Product } from '@/types/Product'
import { type ReceiptItem } from '@/types/ReceiptItem'

import ProductList from '@/components/ProductList.vue'
import ReceiptDetailTable from './ReceiptDetailTable.vue'

import { useReceiptStore } from '@/stores/receipt'

const receiptStore = useReceiptStore()
const product1: Product[] = [
  {
    id: 1,
    name: 'ลาเต้ ร้อน',
    price: 35.0,
    type: 1
  },
  {
    id: 2,
    name: 'โก้โก้ ร้อน',
    price: 45.0,
    type: 1
  },
  {
    id: 3,
    name: 'ลาเต้ ร้อน',
    price: 55.0,
    type: 1
  },
  {
    id: 4,
    name: 'ลาเต้ ร้อน',
    price: 40.0,
    type: 1
  },
  {
    id: 5,
    name: 'ลาเต้ ร้อน',
    price: 35.0,
    type: 1
  },
  {
    id: 6,
    name: 'ลาเต้ ร้อน',
    price: 30.0,
    type: 1
  },
  {
    id: 7,
    name: 'ลาเต้ ร้อน',
    price: 55.0,
    type: 1
  },
  {
    id: 8,
    name: 'ลาเต้ ร้อน',
    price: 45.0,
    type: 1
  },
  {
    id: 9,
    name: 'ลาเต้ ร้อน',
    price: 35.0,
    type: 1
  }
]
const product2: Product[] = [
  {
    id: 1,
    name: 'ลาเต้ ร้อน',
    price: 35.0,
    type: 2
  },
  {
    id: 2,
    name: 'โก้โก้ ร้อน',
    price: 45.0,
    type: 2
  }
]
const product3: Product[] = [
  {
    id: 1,
    name: 'ลาเต้ ร้อน',
    price: 35.0,
    type: 3
  },
  {
    id: 2,
    name: 'โก้โก้ ร้อน',
    price: 45.0,
    type: 3
  },
  {
    id: 3,
    name: 'ลาเต้ ร้อน',
    price: 55.0,
    type: 3
  }
]

const tab = ref(1)

const selected = (p: Product) => {
  console.log('ProductView: ' + p)
  receiptStore.addReceiptItem(p)
  if (divReceiptItems.value) divReceiptItems.value.scrollTo(0, divReceiptItems.value.scrollHeight)
}
const divReceiptItems = ref<HTMLElement | null>(null)
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="6" style="background-color: rgba(116, 69, 34, 1)">
        <v-container style="padding: 0">
          <v-row>
            <v-col cols="12">
              <div ref="divReceiptItems" style="height: 300; overflow: auto">
                <v-sheet min-width="300" max-width="600" height="300" elevation="6">
                  <ReceiptDetailTable />
                </v-sheet>
              </div>
            </v-col>
            <v-col cols="12">
              <v-sheet min-width="300" width="570" height="80" elevation="6"></v-sheet>
            </v-col>
            <v-col cols="12">
              <v-sheet min-width="300" width="570" height="100" elevation="6"></v-sheet>
            </v-col>
            <v-col cols="12">
              <v-sheet min-width="300" width="570" height="80" elevation="6"></v-sheet>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="12" md="6" style="background-color: rgba(114, 87, 42, 1)">
        <v-sheet min-width="300" max-width="600" height="600" elevation="6">
          <!-- this v-tabs is like html or it is mask -->
          <v-tabs v-model="tab" color="#4DB6AC" align-tabs="center">
            <v-tab :value="1">เครื่องดื่ม</v-tab>
            <v-tab :value="2">ขนม</v-tab>
            <v-tab :value="3">น้ำ</v-tab>
          </v-tabs>
          <!-- this make window show tabs you have to set value  make it different -->
          <!-- this will set what item is inside -->
          <v-window v-model="tab">
            <v-window-item :value="1">
              <ProductList :products="product1" @selected-product="selected"> </ProductList>
            </v-window-item>
            <v-window-item :value="2">
              <ProductList :products="product2" @selected-product="selected"> </ProductList>
            </v-window-item>
            <v-window-item :value="3">
              <ProductList :products="product3" @selected-product="selected"> </ProductList>
            </v-window-item>
          </v-window>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
</template>
